{% render 'partials/head1i.liquid', title: 'Squad page' %}

<header>

  <div class="banner">
  <img class="header-foto" src="/assets/images/header-foto-2(1).png" alt="header-foto" width=2000>
  </div>

  <div class="overlay">
    <p><a href="/">Squad 1J</a> </p>
    <h1><a href="/index1i">Squad 1I</a> </h1>
  </div>
</header>

<main>

  <div class="knoppen">
    <a href="/favorietseizoen" class="favoriet-seizoen">Favoriet seizoen</a>
    <a href="/favorietedier" class="favoriete-dier">Favoriete dier</a>
    <a href="/verjaardag" class="verjaardag">Verjaardag</a>
    <a href="/bijnaam" class="bijnaam">Bijnaam</a> 
  </div>


  <article class="mugshots">
    {% for person in persons %}
      
      <figure class="polaroid">
        {% comment %} if is de eerste foto die hij pakt en als die niet bestaat pakt hij de else foto {% endcomment %}
        {% if person.mugshot %}
            <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=500" alt="Profile picture">
        {% else %}
            <img src="/assets/images/else-foto.jpg" width=500 alt="Profile picture">
        {% endif %}

        {% comment %} Link kiezen: profilecard > website > github repo {% endcomment %}
        {% if person.profilecard %}
          <a class="dossier card-link" href="{{ person.profilecard }}"></a>
        {% elsif person.website %}
          <a class="dossier card-link" href="{{ person.website }}"></a>
        {% else %}
          <a class="dossier card-link" href="https://github.com/{{ person.github_handle }}/connect-your-tribe-squad-page"></a>
        {% endif %}

        {% comment %} zorgt ervoor dat je alleen voornaam ziet - van maarten {% endcomment %}
        {% assign nameArray = person.name | split: " " %}
        <h2>{{ nameArray[0] }}</h2>
      </figure>

    {% endfor %}   
  </article>

</main>

{% render 'partials/foot.liquid', squads: squads %}